@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    color: #402218;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.code-container {
    text-align: center;
    background-color: #C68B59;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

h2 {
    font-size: 2.5rem;
    color: #ffffff;
    background-color: #402218;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
}
