@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    background-color: #ffffff;
    background-position: center;
    display: flex;
    flex-direction: column;
}

header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 2rem;
    font-family: 'Luckiest Guy', cursive;
}

.navbar .links {
    display: flex;
    gap: 2rem;
    list-style-type: none;
}

.navbar .toggle_btn {
    color: #402218;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    background-color: #C68B59;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.action_btn:hover {
    transform: scale(1.05);
    background-color: white;
    color: #402218;
}

.action_btn:active {
    transform: scale(0.95);
}

a {
    color: #402218;
    text-decoration: none;
}

/* Dropdown Menu */
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 65px;
    width: 300px;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    display: block;
    height: 200px;
}

.dropdown_menu li {
    padding: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Responsive Design for Navigation Bar */
@media (max-width: 992px) {
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }
}

@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}

.containcolumn{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    min-height: 600px;
    gap: 10px;
}

#orderdetails{
    color: #402218;
    padding: 10px;
    text-align: center;
    height: auto;
    width: auto;
    background-color: #ffffff;
    border-radius: 10px;
}

#inprog{
    color: #ffffff;
    padding: 10px;
    text-align: center;
    height: auto;
    width: 335px;
    background-color: #C68B59;
    border-radius: 30px;
}

#ready{
    color: #ffffff;
    padding: 10px;
    text-align: center;
    height: auto;
    width: 335px;
    background-color: #865439;
    border-radius: 30px;
}

#received{
    color: #ffffff;
    padding: 10px;
    text-align: center;
    height: auto;
    width: 335px;
    background-color: #402218;
    border-radius: 30px;
}

#title{
    text-align: center;
    color: #865439;
}

@media (max-width: 768px) {
    .containcolumn {
        flex-direction: column; 
        align-items: center;
    }

    .containcolumn > div {
        margin-right: 0;
        width: 90%; 
    }
}

.containertime {
    margin: 50px auto;
    max-width: 100%;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
}

.time {
    background-color: #865439;
    color: #ffffff;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 8px;
    text-align: center;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    border-radius: 10px;
}

.hms {
    font-size: 5vw; 
    font-weight: 200;
}

.date {
    font-size: 2vw; 
}

@media (min-width: 768px) {
    .hms {
        font-size: 68pt;
    }

    .date {
        font-size: 15pt; 
    }
}